@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Handjet:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Comic Neue';
}

:root{
    --primary: #FF7BC4;
    --secondary: #a80960;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--secondary);
    background-image: url(/static/img/estrelas.gif);
}

header h1{
    text-decoration: none;
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin: 0.5rem;
}

nav div {
    display: flex;
    height: 2rem;
    background-color: var(--primary);
    justify-content: space-around;
    align-items: center;
}

nav div a{
    display: flex;
    font-weight: bold;
    text-decoration: none;

    align-items: center;
    margin: 2rem;
}

main {
    min-height: calc(100vh - 7rem);
    background-color: rgb(252, 199, 252);
    background-image: url(/static/img/stars.gif);
}

a, input{
    display: block;
}

img{
    width: 30rem;
}

table, tr, td, th{
    border: 2px solid pink;
    border-collapse: collapse;
}

footer{
    font-size: x-small;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    background-image: url(/static/img/estrelas.gif);
    justify-content: end;
    color: white;
}

.fut{
    background-image: linear-gradient(red, yellow);
}