<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria de Produtos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <div>
        <h1>CATEGORIA DE PRODUTOS</h1>
        </div>
    </header>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/categoria">Categoria</a>
        </div>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    <div class="footer">
    <footer>
        <h3>© 2024 TODOS OS DIREITOS RESERVADOS </h3>    
    </footer>
    </div>
</body>
</html>